<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ConferenceManageMapper">
    <!--通过会议发布者ID查找其所有会议-->
    <select id="queryAllConferenceByAnnouncerId" parameterType="int" resultType="com.example.demo.pojo.Conference">
        select * from conference where announcer_id = #{announcer_id}
    </select>
    <!--搜索框搜索会议标题查找会议-->
    <select id="queryConferenceBySearchName" resultType="com.example.demo.pojo.Conference">
        select * from conference where announcer_id = #{announcer_id} and (title like concat('%', #{searchString}, '%'))
    </select>
    <!--通过会议发布者名字查找其个人信息-->
    <select id="queryAnnouncerInfoByName" parameterType="String" resultType="com.example.demo.pojo.Announcer">
        select * from announcer where username = #{announcer_name}
    </select>
    <!--会议发布者创建会议-->
    <insert id="createConference" parameterType="com.example.demo.pojo.Conference">
        insert into conference(title,date_start,date_create,date_end,location,area,topic,introduction,confer_link,external_link,announcer_id) values(#{title},#{date_start},#{date_create},#{date_end},#{location},#{area},#{topic},#{introduction},#{confer_link},#{external_link},#{announcer_id})
    </insert>
    <!--根据会议ID查询会议信息-->
    <select id="queryConferenceById" resultType="com.example.demo.pojo.Conference">
        select * from conference where id = #{conference_id}
    </select>
    <!--修改会议信息-->
    <update id="updateConference" parameterType="com.example.demo.pojo.Conference">
        update conference set title=#{title},date_start=#{date_start},date_end=#{date_end},location=#{location},area=#{area},topic=#{topic},introduction=#{introduction},confer_link=#{confer_link},external_link=#{external_link} where id=#{id}
    </update>
    <!--删除会议-->
    <delete id="deleteConference">
        delete from conference where id = #{id}
    </delete>
</mapper>
